{% extends 'base.html.twig' %}
{% block title %} Formations - PROSTAGE {% endblock %}

{% block titreslider1 %}
Liste des formations
{% endblock %}

{% block titreslider2 %}
Liste des formations
{% endblock %}

{% block body %}
<ul>
        {% for forma in formation %}
        <li> {{ forma.libelle }} </li>
        {% endfor %}
</ul>
{% endblock %}
{% block javascripts %}{% endblock %}