{% extends 'base.html.twig' %}
        {% block title %} ENTREPRISES - PROSTAGE {% endblock %}

        {% block body %} <H1> Liste des entreprises </H1>
        
        <ul>
        {% for entrep in entreprise %}
        <li> {{entrep.nom}} </li>
        {% endfor %}
        </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
