{% extends 'base.html.twig' %}
        {% block title %} ENTREPRISES - PROSTAGE {% endblock %}
        {% block stylesheets %}{% endblock %}

        {% block body %} <H1> Liste des entreprises </H1>{% endblock %}
        {% block javascripts %}{% endblock %}
