{% extends 'base.html.twig' %}
        {% block title %} Formations - PROSTAGE {% endblock %}

        {% block body %} <H1> Liste des formations </H1>
        <ul>
        {% for forma in formation %}
                <li> {{ forma.libelle }} </li>
        {% endfor %}
        </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
