{% extends 'base.html.twig' %}

{% block title %} Prostage - Rechercher {% endblock %}

{% block titreslider1 %} Prostage - Rechercher {% endblock %}

{% block titreslider2 %} Prostage - Rechercher {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
<div class="alert alert-warning" role="alert">
    Le champs que vous avez entré est introuvable
</div>
{% endfor %}

<ul>
{% for stage as sta %}

<li></li>

{% endfor %}
</ul>

{% endblock %}